@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

:root {
  --gray: #707070;
  --white: #ffffff;
  --black: #000000;
  --yellow: #f9d71c;
  --red: #ff0000;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
}

.bi {
  /* font-size: 2.5rem; */
  color: var(--black);
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  overflow-x: hidden;
}

.app {
  background-image: url("./images/clear.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  transition: 0.4s ease-out;
}

.app.cold {
  background-image: url("./images/snow.jpg");
}

main {
  min-height: 100vh;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.6)
  );
  padding: 3rem 0;
}

.container {
  height: 100%;
  width: auto;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.grid-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 1.5rem;
  grid-template-areas:
    "searchBar searchBar todays-condition"
    "location location todays-condition"
    "daily-focust daily-focust todays-condition ";

  padding: 10px;
}

.searchBar {
  width: 100%;
  grid-area: searchBar;
}

.search-form {
  width: 90%;
  max-width: 400px;
  margin: 20px auto;
  background-color: rgba(223, 223, 223, 0);
  border-bottom: 3px solid var(--gray);
  display: flex;
}

.search-bar {
  width: 90%;
  background-color: transparent;
  padding: 10px;
  border: none;
  outline: none;
  font-size: 2rem;
  display: inline-block;
  color: var(--white);
}

.search-bar:active,
.search-bar:focus {
  color: var(--white);
}

.search-form button {
  display: inline-block;
  margin: 0 0 0 5px;
  padding: 10px;
  font-size: 32px;
  outline: none;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  background-color: transparent;
  color: var(--white);
}

.search-form button .bi {
  color: var(--white);
}

.location {
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px;
  width: 100%;
  max-width: 600px;

  grid-area: location;
}

.location .data {
  color: var(--white);
  font-size: 24px;
  width: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.location .data h3,
h4 {
  font-weight: 300;
}

.location .data-icon {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.location .data-icon .bi {
  font-size: 6rem;
  color: var(--white);
}

.daily-focust {
  /* width: 902px;
  height: 267px; */
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.37);
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  padding: 10px 20px;
  margin-top: 25px;

  grid-area: daily-focust;
}

.daily-focust .day {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  font-size: 16px;
  margin: 0 5px;
}

.day h3 {
  color: var(--white);
  font-weight: 300;
}

.day .bi {
  font-size: 2rem;
  padding: 10px 0;
}

.day p {
  color: var(--red);
}

.day p > small {
  color: var(--white);
}

.todays-condition {
  width: 100%;
  text-align: center;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.6);
  padding: 25px 10px;
  color: var(--white);

  grid-area: todays-condition;
}

.todays-condition h2 {
  text-shadow: 2px 2px 10px var(--black);
}

.todays-condition .condition,
.todays-condition .condition h4 {
  display: flex;
  justify-content: space-between;
  font-weight: 400;
  color: var(--gray);
  margin: 10px 20px;
  z-index: 1;
  text-transform: capitalize;
}

@media screen and (max-width: 735px) {
  .grid-wrapper {
    min-height: 100vh;
    grid-template-areas:
      "searchBar searchBar searchBar"
      "location location location"
      "todays-condition todays-condition todays-condition"
      "daily-focust daily-focust daily-focust";
  }

  .location .data {
    font-size: 16px;
  }

  .location .data-icon {
    font-size: 2rem;
  }
}
